html,body{
	padding: 0;
	margin: 0;
}
.container{
	width: 100%;
	height: 400px;
	background-color:#FFDAB9;
}
.bg-div{
	width: 100%;
	height: 100px;
	background-color:#2763a0;
	position: absolute;
	top: 0px;
	left: 0px;
}
.in-container{
	margin: 0px auto;
	width: 940px;
	height: 400px;
	position: relative;
}
.myimg{
	position: absolute;
}
